[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

extensions =
    mr.developer

auto-checkout = collective.geo.openlayers

package-name = cirb.renoprime
package-extras = [test]

parts += omelette
eggs = Pillow

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
collective.geo.openlayers = git git@github.com:collective/collective.geo.openlayers.git
