/*
 * Site: Primes à la rénovation / à l'embellissement
 * URL: http://www.primes-renovation.be/index.php
 * File: renove.css
 *
 * @author 
 * @version 
 */ 

/* UrbIS logo */
.urbISLogo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: darkblue;
    position: absolute;
    left: 25px;
    bottom: 10px;
    z-Index: 999;
}

#map {
    height: 650px;
    border: 1px solid gray;
}
 
.map {
    height: 650px;
    border: 1px solid #ccc;
}

#docs {    
    border: 1px solid gray;
    margin-left: 12px;
    padding: 5px;
}

#docs h3, #layerSelectorComponent legend, label#findaddress {
    border-bottom: 2px solid #FF7814;
    margin-bottom: .5em;
    width: 100%;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.5em;
    display: block;
}
input#address{
    width: 90%;
    margin-bottom: 0;
}
#businessContent{
    line-height: 10px;
}
#addressLocatorComponent legend{
    margin-bottom: 0;
    padding: 0;
    line-height: normal;
}
#layerSelectorComponent label{
    display: inline;
}
#text_below_map{
    margin-top: 30px;
}
#addressList{
    margin-top: 10px;
}
#content legend{
    padding: 0;
}
#layerSelectorComponent input[type="checkbox"] + label{
    margin-left: 5px;
    vertical-align: top;
    font-size: 11px;
}